@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
